@model RentalSystem.Models.MembershipType

@{
    ViewBag.Title = "Delete";
}



@using (Html.BeginForm())
{
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        @Html.AntiForgeryToken()
        <fieldset disabled>
            <div class="form-border">
                <div class="row" style="padding-bottom:5px;padding-top:5px;">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => Model.Name, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => Model.Name, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="row" style="padding-bottom:5px;padding-top:5px;">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => Model.SignUpFee, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => Model.SignUpFee, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="row" style="padding-bottom:5px;padding-top:5px;">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => Model.ChargeRateOneMonth, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => Model.ChargeRateOneMonth, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="row" style="padding-bottom:5px;padding-top:5px;">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => Model.ChargeRateSixMonth, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => Model.ChargeRateSixMonth, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

            </div>
        </fieldset>
        <br />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success btn-sm" /> 
            @Html.Partial("_BackToListButtonPartial")
        </div>
    </div>
}

